CODEX_REMOTE_HOST=0.0.0.0
CODEX_REMOTE_PORT=8787
CODEX_REMOTE_ADVERTISED_HOST=
CODEX_REMOTE_ALLOWED_ORIGINS=
CODEX_REMOTE_ALLOWED_WORKSPACES=/Users/maoshuo/code
CODEX_REMOTE_PAIRING_TTL_SECONDS=600
CODEX_REMOTE_DEVICE_NAME=My Mac
CODEX_REMOTE_CODEX_WS_PORT=8788
CODEX_REMOTE_WEB_DIST_DIR=apps/web/dist
